@import "tailwindcss";
@font-face {
  font-family: "RedHatText";
  /* src: url("/assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype"); */
  src: url("/components/assets/fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
}
body {
  font-family: "RedHatText", sans-serif;
}

@layer components {
  .main {
    @apply grid gap-20 p-20 bg-[#fcf8f5];

    @apply grid-cols-1 place-items-center sm:grid-cols-[repeat(auto-fit,minmax(300px,1fr))];
  }

  /* .header {
    @apply fixed top-0 left-0 w-full z-50  p-5 bg-white shadow-md;
  } */
  .product-card {
    @apply flex flex-col w-[350px] border-[1px] border-[#ddd] p-[15px] text-start rounded-lg shadow-md hover:scale-105 transition-transform duration-300 ease-in-out relative overflow-hidden;
  }
  .product-card picture {
    @apply relative flex justify-center items-center;
  }
  .cart {
    @apply absolute top-[65%] left-[50%] sm:top-[75%] flex justify-center items-center w-[80%] transform -translate-x-1/2 -translate-y-1/2;
  }

  .btn {
    @apply border-2 border-[#e9bc49] hover:bg-[#f4e8d6] rounded-full w-35 flex justify-center items-center py-2 px-1 cursor-pointer gap-x-3 text-xs font-bold;
  }
}
@layer base {
  h1 {
    @apply font-extrabold text-[#8b4513];
  }
  p {
    @apply mt-5 text-[#dda935];
  }
  h2 {
    @apply text-[#935016];
  }
  small {
    @apply text-[#ce6665];
  }
  input {
    @apply border-2 border-[#8b4513]  hover:border-[#8b6517] focus:border-[#8b6517] p-1 sm:px-10 rounded-full font-[10px];
  }
  input::placeholder {
    @apply text-xs text-gray-500;
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.bounce-in-left {
  animation: bounceInLeft 0.8s ease-out;
}
